<a href="https://colab.research.google.com/github/abalderas16/data-engineering-practice/blob/main/Day1_Python_Series_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1 â€“ Pandas Series Practice

Topics covered:
- Creating Series
- Indexing
- Basic operations
- Intro to data exploration

**SERIES = A PANDAS 1-DIMENSIONAL LABELED ARRY THAT CAN HOLD ANY DATA TYPE "THINK OF IT LIKE A SINGLE COLUMN IN A SPREADSHEET" {1-DIMENSIONAL}**

In [ ]:
import pandas as pd

df = pd.DataFrame({
    "name": ["Arley", "Maria"],
    "age": [31, 28]
})

print(df)

    name  age
0  Arley   31
1  Maria   28

In [ ]:
import pandas as pd

data = {
    "vendor": ["UPS", "FedEx", "UPS", "DHL"],
    "cost": [120, 150, 90, 200]
}

df = pd.DataFrame(data)

# Find avg cost per vendor
df.groupby("vendor")["cost"].mean()
#UPS is being averaged out by 120 & 90 per dictionary above

vendor
DHL      200.0
FedEx    150.0
UPS      105.0
Name: cost, dtype: float64

In [ ]:
import pandas as pd

data = [100, 102, 103, 105, 106] #list

series = pd.Series(data, index=["a", "b", "c", "d", "e"])

series.loc["c"] = 200
#loc allows us to change the data type from or list in data depending what index we use

print(series)

a    100
b    102
c    200
d    105
e    106
dtype: int64

In [ ]:
import pandas as pd

data = [100, 102, 103, 200, 289, 370] #list

series = pd.Series(data, index=["a", "b", "c", "d", "e","f"])

print(series[series >= 200]) #anything great than or equal to 200

d    200
e    289
f    370
dtype: int64

In [ ]:
import pandas as pd

calories = {"Day 1": 1750, "Day 2": 2100, "Day 3": 1700} #dictionary

series=pd.Series(calories) #no index needed due to the dictionary having values

print(series.loc["Day 1"]) #here loc is used to search what value is in "Day 1"

1750

In [ ]:
import pandas as pd

calories = {"Day 1": 1750, "Day 2": 2100, "Day 3": 1700} #dictionary

series=pd.Series(calories) #no index needed due to the dictionary having values

series.loc["Day 3"] += 300
#We added more calories for Day 3.

print(series)

Day 1    1750
Day 2    2100
Day 3    2000
dtype: int64

In [ ]:
import pandas as pd

calories = {"Day 1": 1750, "Day 2": 2100, "Day 3": 1700} #dictionary

series=pd.Series(calories) #no index needed due to the dictionary having values

print(series[series < 2000]) #Returns the days calories were under 2000

Day 1    1750
Day 3    1700
dtype: int64