# Day 2 â€“ Pandas DataFrames Practice

Topics covered:

- Creating DataFrames from dictionaries
- Custom indexing
- Inspecting data (head, tail, info, shape)
- Selecting data with loc[] and iloc[]
- Filtering rows using conditions
- Adding and modifying columns
- Basic summary statistics
- Intro to handling missing values

Key Concept:
DataFrame = a 2D tabular data structure (rows and columns) similar to an Excel spreadsheet or SQL table.

**DATAFRAME = A TABULAR DATA STRUCTURE WITH ROWS AND COLUMNS. (2 DIMENSIONAL) SIMILAR TO AN EXCEL SPREADSHEET**

# **New variable for df - Business Data**

In [12]:
import pandas as pd

data = {
    "Employee": ["Alice", "Bob", "Charlie"],
    "Department": ["Sales", "IT", "HR"],
    "Salary": [60000, 80000, 50000]
}

df = pd.DataFrame(data)

df

  Employee Department  Salary
0    Alice      Sales   60000
1      Bob         IT   80000
2  Charlie         HR   50000

**# df.head** Preview the first rows

In [4]:
import pandas as pd

#3. head - We can look at the data looks like before coding logic
print("\nHead:")
df.head()

Head:

  Employee Department  Salary
0    Alice      Sales   60000
1      Bob         IT   80000
2  Charlie         HR   50000

In [7]:
import pandas as pd

#3. head - We can look at the data looks like before coding logic
print("\nHead:")
df.head(2) #Adding a specific number of rows

Head:

  Employee Department  Salary
0    Alice      Sales   60000
1      Bob         IT   80000

In [53]:
import pandas as pd

data = {
    "Employee": ["Alice", "Bob", "Charlie"],
    "Department": ["Sales", "IT", "HR"],
    "Salary": [60000, 80000, 50000]
}

df = pd.DataFrame(data)

new_rows = pd.DataFrame({
    "Employee": ["Emma", "Frank", "Arley"],
    "Department": ["Finance","Warehouse","Engineering"],
    "Salary": [60000, 80000, 110000]
})

df=pd.concat([df, new_rows], ignore_index=True) #Added new rows

df.head() #Shows the first 5 rows

  Employee Department  Salary
0    Alice      Sales   60000
1      Bob         IT   80000
2  Charlie         HR   50000
3     Emma    Finance   60000
4    Frank  Warehouse   80000

**# df.tail()** Preview the last rows

In [40]:
import pandas as pd
print("\nTail:")
df.tail() #Shows the last 5 rows

Tail:

  Employee   Department  Salary
1      Bob           IT   80000
2  Charlie           HR   50000
3     Emma      Finance   60000
4    Frank    Warehouse   80000
5    Arley  Engineering  110000

In [42]:
import pandas as pd
print("\nDataFrame:")
print(df)

print("\nLast 3 rows using Tail:")
df.tail(3)

DataFrame:
  Employee   Department  Salary
0    Alice        Sales   60000
1      Bob           IT   80000
2  Charlie           HR   50000
3     Emma      Finance   60000
4    Frank    Warehouse   80000
5    Arley  Engineering  110000

Last 3 rows using Tail:

  Employee   Department  Salary
3     Emma      Finance   60000
4    Frank    Warehouse   80000
5    Arley  Engineering  110000

**# .shape** Check size (Rows, Columns)

In [41]:
import pandas as pd
print("\nShape:")
df.shape #Shows (rows, columns)

Shape:

(6, 3)

**# df.info()** Check Structure + Data types

In [43]:
import pandas as pd

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Employee    6 non-null      object
 1   Department  6 non-null      object
 2   Salary      6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

**# df.columns** List column Names

In [44]:
import pandas as pd

df.columns

Index(['Employee', 'Department', 'Salary'], dtype='object')

In [54]:
import pandas as pd

list(df.columns)

['Employee', 'Department', 'Salary']

**# Inspection Checklist**

In [46]:
import pandas as pd

print("Shape:", df.shape)
print("Columns:", list(df.columns))
display(df.head())
df.info()

Shape: (6, 3)
Columns: ['Employee', 'Department', 'Salary']

  Employee Department  Salary
0    Alice      Sales   60000
1      Bob         IT   80000
2  Charlie         HR   50000
3     Emma    Finance   60000
4    Frank  Warehouse   80000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Employee    6 non-null      object
 1   Department  6 non-null      object
 2   Salary      6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

**## Bonus Practice - Cartoon Example Version**

In [47]:
import pandas as pd

data = {"Name": ["Spongebob", "Patrick", "Squidward"],
        "Age": [30, 35, 50]}

df= pd.DataFrame(data, index=["Employee 1", "Employee 2", "Employee 3"])

print(df)

                 Name  Age
Employee 1  Spongebob   30
Employee 2    Patrick   35
Employee 3  Squidward   50

In [48]:
import pandas as pd

data = {"Name": ["Spongebob", "Patrick", "Squidward"],
        "Age": [30, 35, 50]}

df= pd.DataFrame(data)

print(df)

        Name  Age
0  Spongebob   30
1    Patrick   35
2  Squidward   50

In [49]:
import pandas as pd

data = {"Name": ["Spongebob", "Patrick", "Squidward"],
        "Age": [30, 35, 50]}

df= pd.DataFrame(data, index=["Employee 1", "Employee 2", "Employee 3"])

print(df.loc["Employee 1"])

Name    Spongebob
Age            30
Name: Employee 1, dtype: object

In [50]:
import pandas as pd

data = {"Name": ["Spongebob", "Patrick", "Squidward"],
        "Age": [30, 35, 50]}

df= pd.DataFrame(data, index=["Employee 1", "Employee 2", "Employee 3"])

print(df.iloc[0])

Name    Spongebob
Age            30
Name: Employee 1, dtype: object

In [51]:
import pandas as pd

data = {"Name": ["Spongebob", "Patrick", "Squidward"],
        "Age": [30, 35, 50]}

df= pd.DataFrame(data, index=["Employee 1", "Employee 2", "Employee 3"])

#add new column
df["Job"] = ["Cook", "NULL", "Cashier"]

#add new row  + index
new_row = pd.DataFrame([{"Name": "Sandy", "Age": 29, "Job": "Engineer"},
                        {"Name": "Larry", "Age": 31, "Job": "Body Builder"}],
                       index=["Employee 4", "Employee 5"])

df=pd.concat([df, new_row]) #concat combines the Data with the new data, Placing df data with new_row data

print(df)

                 Name  Age           Job
Employee 1  Spongebob   30          Cook
Employee 2    Patrick   35          NULL
Employee 3  Squidward   50       Cashier
Employee 4      Sandy   29      Engineer
Employee 5      Larry   31  Body Builder